<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/desktop.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
    <div id="nav-info" class="full-width">
        <div class="fixed-width  clearfix">
            <div class="addr">
                新北市淡水區北新路三段36號
            </div>
            <div class="donate">
                <a href="#" class="btn">DONATE</a>
            </div>
            <div class="register">
                <ul>
                    <li><a href="#">REGISTER</a></li>
                    <li><a href="#">LOGIN</a></li>
                </ul>
            </div>
        </div>
    </div>
    <nav class="full-width">
        <div class="fixed-width  clearfix">
            <div class="logo">
                <a href="#">LOGO</a>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">FEATURES</a></li>
                    <li><a href="#">EVENTS</a></li>
                    <li><a href="#">SERMONS</a></li>
                    <li><a href="#">GALLERY</a></li>
                    <li><a href="#">BLOG</a></li>
                    <li><a href="#">SEARCH</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="full-width  clearfix"></header>
    <div id="features" class="full-width">
        <div class="fixed-width clearfix">
            <div class="col-7">
                <div class="col-12">
                    <div class="col-2"></div>
                    <h2 class="line">WHY OUR CHURCH</h2>
                </div>
                <div class="col-2"></div>
                <div class="col-10">
                    <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate, rerum iure! Vero eius quam
                        beatae?</h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique esse nisi odio sunt officia
                        minus incidunt nulla, odit impedit saepe hic aliquam sed, voluptatem, explicabo architecto unde
                        qui aspernatur animi.</p>
                    <a href="#" class="btn">MORE</a>
                </div>
            </div>
            <div class="col-5">
                <img src="https://source.unsplash.com/random/300x400" alt="">
            </div>
        </div>
    </div>
    <div id="events" class="full-width">
        <div class="fixed-width clearfix">
            <div class="col-4">
                <h2>GO HIKING</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam enim est eligendi repellendus,
                    quasi consectetur?</p>
                <a href="#" class="btn">MORE</a>
            </div>
            <div class="col-4">
                <h2>SWIMMING</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam enim est eligendi repellendus,
                    quasi consectetur?</p>
                <a href="#" class="btn">MORE</a>
            </div>
            <div class="col-4">
                <h2>PICNIC</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quisquam enim est eligendi repellendus,
                    quasi consectetur?</p>
                <a href="#" class="btn">MORE</a>
            </div>
        </div>
    </div>
    <div id="gallery" class="full-width">
        <div class="fixed-width clearfix">
            <div class="col-7">
                <div class="col-2"></div>
                <h2 class="line">FROM THE GALLERY</h2>
            </div>
        </div>
        <div class="fixed-width clearfix">
            <div class="col-4">
                <img src="https://source.unsplash.com/random/400x625" alt="">
            </div>
            <div class="col-8 nopa">
                <div class="col-6">
                    <img src="https://source.unsplash.com/random/400x300/?sig=1" alt="">
                </div>
                <div class="col-6">
                    <img src="https://source.unsplash.com/random/400x300/?sig=2" alt="">
                </div>
                <div class="col-6">
                    <img src="https://source.unsplash.com/random/400x300/?sig=3" alt="">
                </div>
                <div class="col-6">
                    <img src="https://source.unsplash.com/random/400x300/?sig=4" alt="">
                </div>
            </div>
        </div>
    </div>
    <div id="upcoming" class="full-width">
        <div class="fixed-width clearfix">
            <div class="col-7">
                <div class="col-2"></div>
                <h2 class="line--light">UPCOMING EVENTS</h2>
            </div>
        </div>
        <div class="fixed-width clearfix">
            <div class="col-12">
                <div class="col-1">
                    <div class="date">
                        <div class="day">12<br>JAN</div>
                    </div>
                </div>
                <div class="col-11">
                    <div class="content">
                        <div class="title">PAPAYA</div>
                        <div class="time">Sunday<br>
                            Monday</div>
                        <div class="addr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium est id
                            eos, nobis dolorem perspiciatis corrupti </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="fixed-width clearfix">
            <div class="col-12">
                <div class="col-1">
                    <div class="date">
                        <div class="day">20<br>MAR</div>
                    </div>
                </div>
                <div class="col-11">
                    <div class="content">
                        <div class="title">BANANA</div>
                        <div class="time">Tuesday<br>
                            Wednesday</div>
                        <div class="addr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium est id
                            eos, nobis dolorem perspiciatis corrupti </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="fixed-width clearfix">
            <div class="col-12">
                <div class="col-1">
                    <div class="date">
                        <div class="day">05<br>APR</div>
                    </div>
                </div>
                <div class="col-11">
                    <div class="content">
                        <div class="title">APPLE</div>
                        <div class="time">Wednesday<br>
                            Thursday</div>
                        <div class="addr">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium est id
                            eos, nobis dolorem perspiciatis corrupti </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="blog" class="fullwidth">
        <div class="fixed-width clearfix">
            <div class="col-7">
                <div class="col-2"></div>
                <h2 class="line">FROM THE BLOG</h2>
            </div>
        </div>
        <div class="fixed-width clearfix">
            <div class="col-4">
                <div class="pic">
                    <img src="https://source.unsplash.com/random/400x300/?sig=5" alt="">
                    <div class="date">
                        <div class="day">04<br>AUG</div>
                    </div>
                </div>
                <h3>A WONDERFUL DAY!</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro iure molestiae debitis qui illo magni
                    eaque, obcaecati praesentium et mollitia ipsa velit rerum consectetur officiis facilis impedit quam,
                    voluptatem voluptates!</p>
                <a href="#" class="btn">MORE</a>
            </div>
            <div class="col-4">
                <div class="pic">
                    <img src="https://source.unsplash.com/random/400x300/?sig=6" alt="">
                    <div class="date">
                        <div class="day">18<br>SEP</div>
                    </div>
                </div>
                <h3>WHAT'S THAT?</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro iure molestiae debitis qui illo magni
                    eaque, obcaecati praesentium et mollitia ipsa velit rerum consectetur officiis facilis impedit quam,
                    voluptatem voluptates!</p>
                <a href="#" class="btn">MORE</a>
            </div>
            <div class="col-4">
                <div class="pic">
                    <img src="https://source.unsplash.com/random/400x300/?sig=7" alt="">
                    <div class="date">
                        <div class="day">23<br>DEC</div>
                    </div>
                </div>
                <h3>THIS IS A FLOWER</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro iure molestiae debitis qui illo magni
                    eaque, obcaecati praesentium et mollitia ipsa velit rerum consectetur officiis facilis impedit quam,
                    voluptatem voluptates!</p>
                <a href="#" class="btn">MORE</a>
            </div>
        </div>
    </div>
    <div id="map" class="full-width">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3610.5493401801073!2d121.48270311432708!3d25.18469043838962!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442b031681a7cef%3A0xd55270d1b40122fe!2z5reh5rC054Sh5qW15aSp5YWD5a6u!5e0!3m2!1szh-TW!2stw!4v1550829422901"
            width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <footer class="fullwidth">
        <div class="fixed-width">
            <div class="col-8">Designed by Kevin Chiu 2019</div>
            <div class="col-4">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-weibo"></i></a>
            </div>
        </div>
    </footer>
</body>

</html>